*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
