@import './base.css';

#app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: 'MyConsolas';
  font-display: block;
  src: url('../font//Consolas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
